﻿@model EventParticipan.Models.EventParticipans

@{
    ViewBag.Title = "CreateParticipan";
}

<h2>Osavõtjad</h2>
@using (Html.BeginForm("CreateParticipan", "Events"))
{
    @Html.AntiForgeryToken()
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Event.EventName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Event.EventName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Event.EventTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Event.EventTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Event.EventPlace)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Event.EventPlace)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Event.EventText)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Event.EventText)
            </dd>

            <dt>
                Osalejad
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        @foreach (var item in Model.Event.Participans)
                        {
                        <tr>
                            @if (item.ClientType == 0)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdentityCode)
                                </td>
                            }

                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.LegalName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RegistryNumber)
                                </td>
                            }
                            <td>
                                @Html.ActionLink("Vaata", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                    </table>
                </dd>
            </dl>
        </div>
        @*<p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Event.EventId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>*@



        <div class="form-horizontal">
            <h2>Osavõtjate lisamine</h2>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Participan.CurrentEventId)

            <div id="myRadioGroup">
                Eraisik<input type="radio" name="clienttype" checked="checked" value="0" />
                Firma<input type="radio" name="clienttype" value="1" />

                <div id="ClientType0" class="desc">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.IdentityCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.IdentityCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.IdentityCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.PrivateClientText, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.PrivateClientText, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.PrivateClientText, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.PaymentMethod, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.Participan.PaymentMethod, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Participan.PaymentMethod, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div id="ClientType1" class="desc" style="display: none;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.LegalName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.LegalName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.LegalName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.RegistryNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.RegistryNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.RegistryNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.NrOfParticipans, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.NrOfParticipans, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.NrOfParticipans, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.JuridicalClientText, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.JuridicalClientText, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.JuridicalClientText, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.PaymentMethod, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.Participan.PaymentMethod, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Participan.PaymentMethod, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvesta" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Tagasi", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script language="javascript">
        $(document).ready(function () {
            $("input[name$='clienttype']").click(function () {
                var test = $(this).val();

                $("div.desc").hide();
                $("#ClientType" + test).show();
            });
        });
    </script>
}




