﻿@model IEnumerable<EventParticipan.Models.Event>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead"></p>
    <p></p>
</div>

@using (Html.BeginForm("Index", "Home"))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4">
            <h2>Tulevased üritused</h2>
            <table class="table">

                @foreach (var item in Model)
                {
                    if (item.EventTime >= DateTime.Now)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventTime)
                            </td>
                            <td>
                                <p><a class="btn btn-default" href="/events/createparticipan/@item.EventId">Osavõtjad</a></p>
                                @*@Html.ActionLink("Osavõtjad", "Details", new { id = item.EventId })*@ 
                            </td>
                            <td>
                                <p><a class="btn btn-default" href="/events/delete/@item.EventId">Kustuta</a></p>
                            </td>
                        </tr>
                    }
                }
            </table>
            <p><a class="btn btn-default" href="/events/create">Lisa üritus &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Toimunud üritused</h2>
            <table class="table">

                @foreach (var item in Model)
                {
                    if (item.EventTime <= DateTime.Now)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventName)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventTime)
                            </td>
                            <td>
                                <p><a class="btn btn-default" href="/participans/index/@item.EventId">Osavõtjad</a></p>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
}