﻿@model EventParticipan.Models.EventParticipans

@{
    ViewBag.Title = "Osavõtjad";
}

<h2>Osavõtjad</h2>


@using (Html.BeginForm("Details", "Events"))
{
    @Html.AntiForgeryToken()
    <div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.EventTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.EventPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.EventText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventText)
        </dd>
        <dt>
            Osavõtjad
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Participans)
        </dd>
    </dl>
    <table class="table">
    @*@foreach (var participan in Model.Participans)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => participan.FullName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => participan.IdentityCode)
            </td>

            <td>
                @Html.DisplayFor(modelItem => participan.LegalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => participan.RegistryNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = participan.Id }) |
                @Html.ActionLink("Details", "Details", new { id = participan.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = participan.Id })
            </td>
        </tr>
    }*@
    </table>
    </div>
}
    <hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h2>Osavõtjate lisamine</h2>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*@Html.HiddenFor(model => model.Participans.CurrentEventId)*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.ClientType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.ClientType, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientType, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div id="myRadioGroup">
                Eraisik<input type="radio" name="clienttype" checked="checked" value="0" />
                Firma<input type="radio" name="clienttype" value="1" />

                <div id="ClientType0" class="desc">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.IdentityCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.IdentityCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.IdentityCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.PrivateClientText, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.PrivateClientText, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.PrivateClientText, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.PaymentMethod, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.Participan.PaymentMethod, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Participan.PaymentMethod, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div id="ClientType1" class="desc" style="display: none;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.LegalName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.LegalName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.LegalName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.RegistryNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.RegistryNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.RegistryNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.NrOfParticipans, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.NrOfParticipans, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.NrOfParticipans, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.JuridicalClientText, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Participan.JuridicalClientText, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Participan.JuridicalClientText, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Participan.PaymentMethod, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.Participan.PaymentMethod, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Participan.PaymentMethod, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.CurrentEventId, "CurrentEventId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CurrentEventId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CurrentEventId, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvesta" class="btn btn-default" />
                </div>
            </div>
        </div>
}

        <div>
            @Html.ActionLink("Tagasi", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script language="javascript">
                $(document).ready(function () {
                    $("input[name$='clienttype']").click(function () {
                        var test = $(this).val();

                        $("div.desc").hide();
                        $("#ClientType" + test).show();
                    });
                });
            </script>
        }
