﻿@model EventParticipan.Models.Participan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Participan</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.ClientType == 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.IdentityCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdentityCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrivateClientText)
            </dt>

            <dd>
            @Html.DisplayFor(model => model.PrivateClientText)
            </dd>
        }

        @*<dt>
            @Html.DisplayNameFor(model => model.CurrentEvent.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentEvent.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientType)
        </dd>*@
        else
        {
                
        
            <dt>
                @Html.DisplayNameFor(model => model.LegalName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LegalName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RegistryNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RegistryNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Participans)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Participans)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PaymentMethod)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JuridicalClientText)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JuridicalClientText)
            </dd>
        }
        

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
