﻿@model IEnumerable<EventParticipan.Models.Participan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            @if (item.ClientType == 0)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.IdentityCode)
                </td>
            }
            
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.LegalName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.RegistryNumber)
                </td>
            }
            <td>
                @Html.ActionLink("Vaata", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
